atomicwrites==1.4.0
attrs==19.3.0
boto3==1.14.42
botocore==1.17.42
bumpversion==0.6.0
certifi==2019.9.11
chardet==3.0.4
Click==7.1.2
coverage==4.5.4
docutils==0.16
entrypoints==0.3
flake8==3.8.3
idna==2.10
importlib-metadata==0.23
jmespath==0.9.4
localconfig==1.1.3
mccabe==0.6.1
more-itertools==7.2.0
packaging==19.2
pluggy==0.13.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.2
pytest==5.2.1
pytest-cov==2.8.1
python-dateutil==2.8.0
requests==2.22.0
requests-aws4auth==0.9
s3transfer==0.2.1
six==1.12.0
urllib3==1.25.8
wcwidth==0.1.7
zipp==0.6.0
